<!-- Main Content -->
<!-- Title and Release Date -->
<div class="flex mx-auto py-8">
  <mat-card class="items-center px-8 py-4 w-3/5">
    <mat-card-header class="bottom-full w-full bg-secondary text-white">
      <mat-card-title class="font-bold mb-2 text-3xl">{{ movie?.original_title || movie?.original_name
        }}</mat-card-title>
      <mat-card-subtitle class="text-gray-400 mb-6">Released on
        <span>{{ movie?.release_date || movie?.first_air_date }}</span></mat-card-subtitle>
    </mat-card-header>
    <img class="card-img-top rounded-tl-2xl w-full" [src]="movie?.backdrop_path">
    <mat-card-content>
      <p> {{ movie?.overview }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex items-center">
        <svg aria-hidden="true" class="w-8 h-8 text-green-400" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Rating star</title>
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
        </svg>
        <span class="ml-2 text-sm">{{ movie?.user_score || movie?.vote_average }}</span>
    </div>
    </mat-card-actions>
  </mat-card>
  <div class="items-center px-8 w-2/5">
    <app-new-review></app-new-review>
  </div>
</div>

<!-- Reviews -->
<div class="rounded relative flex flex-col">
  <section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Reviews
    </h1>

    <app-reviews-list></app-reviews-list>
  </section>
</div>